<div class="center hero-unit">
  <%= link_to image_tag("loyalme.jpg", alt: "LOYALME"), '#' %>
	<p>
    <h2>
      This is the home page for the LoyalMe sample application.
    </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

