<footer class="footer">
  <small>
    <a href="http://www.loyalme.com/">LoyalMe(r)</a>
    by LM / AA
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>